
:root {
    --primery-text-color: #212121;
    --primery-bg-color: #FFFFFF;;
    --text-color: #757575;
    --accent: #2196F3;
    --hero-title-color: #FFFFFF;
    --footer-text-color: #FFFFFF;
    --footer-link-color: #FFFFFF99;


}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    color: var(--primery-text-color, black);
    background-color: var(--primery-bg-color, white);
    font-family: 'Roboto', sans-serif;
    
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 2px solid brown; */
}

/* header */
/* стилізація лого */

.header {
    padding-top: 25px;
    padding-bottom: 25px;
}
.header-portfolio {
    border-bottom: 1px solid;
}
.header .conteiner {
    display: flex;
    align-items: center;
      
}

.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-color {
    color: var(--accent, blue);
}
.logo:hover,
.logo:focus {
    color: var(--accent, blue);
}
.nav-header {
    display: flex;
}
.header-nav {
    display: flex;
    margin-left: 93px;
    align-items: center;
    column-gap: 50px;
}


.header-nav .link {
    padding: 10px;
    
    color: var(--primery-text-color, black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;


}
.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--accent, blue);
}

.header-nav .studio-link {
    color: var(--accent, blue);
}

    

/* auth-nav */


.auth-nav {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}

.auth-nav.link::before {
    content: "";
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../images/конвертик.png);
    background-size: contain;
    
}
.auth-nav .link {
    padding: 10px;

    color: var(--text-color, grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
        

}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent, blue);
}

/* main */
/* секція герой */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
  url(../images/шапкаjpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.hero-title {
    max-width: 696px;
    margin: auto;
    margin-bottom: 30px;

    color: var(--hero-title-color, white);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* button */
.hero-button {
    display: inline-block;
    min-width: 216px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 32px;
    

    color: #FFFFFF;
    background-color: var(--accent, blue);
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer; 
    
}
.hero-button:hover,
.hero-button:focus {
    background-color: #188ce8;
}


/* specifics */
.specifics-list {
    display: flex;
    gap: 30px;   
}
.specifics-items {
    width: 270px;
}
.specifics-items::before {
    content: '';
    display: block;
    height: 120px;
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.icon-convert::before {
    background-image: url(../images/svg.антена.svg);

}

.specifics-title {
    margin-bottom: 10px;

    color: var(--primery-text-color, black);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
        
}
.specifics-text {

    color: var(--text-color, grey);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* work-section */
.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    gap: 30px;
    
}
.work-items {
    width: calc((100%-60px) / 3);
    
}
.work-title {
    margin-bottom: 50px;

    color: var(--primery-text-color, black);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
/* team-section */
.team {
    background-color: #F5F4FA;
}
.team-title {
    margin-bottom: 50px;

    color: var(--primery-text-color, black);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 30px;
    
}
.team-items {
    width: calc((100%-90px) / 4);
}
/* .team-items:not(:last-child) {
    margin-right: 30px;
} */
.team-card {
    background-color: aquamarine;
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 270px;
    text-align: center;
}
/* .icon-facebook {
    width: 20px;
    height: 20px;
    content: '';

    border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-color: #212121;
    
    
}
.icon-facebook:hover {
    background: var(--accent);
}

.icon-facebook:hover .letter {
    fill: white;
} */

.actions {
    display: flex;
    padding: 0;
    margin: 0%;
    gap: 10px;
    justify-content: center;
    list-style: none;
}
.icon {
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    
}

/* .icon:hover {
    background-color: var(--accent);
} */
.team-name {
    min-width: 130px;
    margin-bottom: 10px;

    color: var(--primery-text-color, black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
        
}
.team-text {
    min-width: 130px;
    margin-bottom: 16px;

    color: var(--text-color, grey);
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* списки */
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* footer */

 .footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 45px;
 }

 /* logo footer */

 .logo-second {
     color: #FFFFFF;
 }
/* .icon {
    content: '';
        display: inline-block;
        width: 44px;
        height: 44px;
        outline: 1px solid red;
        
        border-radius: 50%;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #757575;
}
.icon {
    background-image: url(../images/пташка.svg);

}  

.icon:hover {
    background-color: var(--accent);
    cursor: pointer;
} */
.footer-items::before {
    
}
.footer-items:hover {
    background-color: var(--accent);
}
.footer-logo {
    display: block;
    margin-bottom: 20px;
 }
 .logo-second:hover,
 .logo-second:focus {
     color: var(--accent, blue);
 }

.footer-text {
    margin-bottom: 9px;
    color: var(--contacts-text-color, white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;      
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.footer-contacts .link {
    color: var(--footer-link-color, white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;       
}
.footer-contacts .link:hover,
.footer-contacts .link:focus {
    color: var(--accent, blue);
}
 

/* portfolio */
.header-nav .portfolio-link {
    color: var(--accent, blue);
}
.filter-list .link {
    color: var(--primery-text-color, black);
}

/* portfolio button */

    
.button-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.button-portfolio {
    display: inline-block;
    min-width: 73px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
    text-align: center;

    color: var(--primery-text-color, black);
    background-color: #F5F4FA;
    font-family: inherit;   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--hero-title-color, white);
    background-color: var(--accent, blue);
}
.filter-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
    
}

.filter-items {
    width: calc((100%-60px) / 3);
}
.filter-list .filter-items {
    max-width: 370px;
        
}
.filter-card {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    background: #FFFFFF;

}
.filter-title {
    margin-bottom: 4px;
    max-width: 322px;
    

    color: var(--primery-text-color, black);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
        
}
.filter-text {
    max-width: 322px;
    

    color: var(--text-color, grey);
    line-height: 1.88;
    letter-spacing: 0.03em;
        
}

