body {
    color: $color-text;
    background-color: $color-background;
    font-family: 'Manrope', sans-serif;

}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
img {
    display: block;
    // width: 100%;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.section {
    padding-top: 100px;
    padding-bottom: 100px;

}
section:nth-child(2n + 1) {
    background-color: $second-background-color;
}
