.hero {
    padding-top: 120px;
    padding-bottom: 120px;

}
.pre-title-wrap {
    display: flex;
    align-items: center;
}
.hero-icon-pre-title {
    margin-right: 7px;
}
.hero-pre-title {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $color-pre-title;
}
.hero-title {
    max-width: 396px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    line-height: 1.3;
    letter-spacing: 0.66px;
    color: $color-title;
    margin-bottom: 20px;
}
.hero-text {
    font-size: 19px;
    line-height: 1.6;
    color: $color-text;
    max-width: 483px;
    margin-bottom: 26px;
        
}
.hero-button {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 19px 32px;
    background: #5C8692;
    border: 2px solid #5C8692;
}
.hero .container {
    display: flex;
    align-items: center;
}
.hero-img-wrap {
    position: relative;
    margin-left: 125px;
    width: 592px;
    height: 645px;
    border: 10px solid #5C8692;
}
.hero-img {
position: absolute;
top: 50px;
left: -30px;
}
