.lifestyle-list {
    display: flex;
    gap: 12px;
}
.lifestyle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 184px;
    background: #FFFFFF;
    border: 2px solid #1E2C30;
}
.lifestyle-list-title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.264px;
    max-width: 84px;
}
.lifestyle-pre-title {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $color-pre-title;
    margin-bottom: 4px;
}
.lifestyl-title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: 0.45px;
    color: $color-title;
    max-width: 519px;
    margin-bottom: 19px;
}
.lifestyle-text {
    font-size: 18px;
    line-height: 1.7;
    color: $color-text;
    max-width: 595px;
    margin-bottom: 30px;
}

.lifestyle .container {
    display: flex;
       
}
.lifestyle-img {
    margin-left: 77px;
    position: relative;
    filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
}
.lifestyle-img-two {
    position: absolute;
    top: -35px;
    left: 35px;
}